<template>
    <Page>
        <ActionBar title="Cart WorkSample">
          <StackLayout orientation="horizontal">
            <Image src="res://icon" width="40" height="40" verticalAlignment="center" />
            <Label text="Work Sample" fontSize="24" verticalAlignment="center" />
          </StackLayout>
          <ActionItem @tap="onTapCart"
            ios.systemIcon="9" ios.position="left"
            android.systemIcon="ic_menu_share" android.position="actionBar" />
          <ActionItem @tap="onTapOrders"
            ios.systemIcon="16" ios.position="right"
            text="orders" android.position="popup" />
          <ActionItem @tap="showLogin"
            ios.systemIcon="16" ios.position="right"
            text="login" android.position="popup" />
        </ActionBar>
        <DockLayout stretchLastChild="false">
          <GridLayout dock="top" height="50" columns="*" rows="50">
            <SearchBar dock="top" row="0" col="0" height="40" :text="searchPhrase" @submit="onSearchSubmit"/>
          </GridLayout>
          
          <ListView dock="centre" for="item in items" >
            <v-template>
              <GridLayout dock="top" height="150" columns="150, *" rows="100" @tap="onItemTap(item)">
                <Image row="0" col="0" src="https://cdn.vuetifyjs.com/images/cards/cooking.png" stretch="aspectFill" />
                <StackLayout text="0,1" row="0" col="1" backgroundColor="#e7f7ee">
                  <Label :text="item.caption" textWrap="true"/>
                  <Label :text="item.description"/>
                </StackLayout>
              </GridLayout>              
            </v-template>
          </ListView>

        </DockLayout>
        
    </Page>
</template>

<script >
  import values from "../values.json"
  import AppBanner from "./AppBanner"
  import AppCategory from "./AppCategory"
  import AppItem from "./AppItem"
  import AppCart from "./AppCart"

  import axios from "axios";

  export default {
    components:{ AppBanner, AppCategory, AppItem, AppCart },
    data() {
      return {
        detailPage: AppItem,
        cartPage: AppCart,
        msg: 'Hello World!',
        items:[],
        searchPhrase:''
      }
    },methods:{
      onItemTap:function(item){
        //navigate to item page
        this.$navigateTo(this.detailPage, {
          props:{
            item:item
          }
        })
      },
      showLogin:function(){
        login("Please login", "Email", "Password").then(result => {
          console.log(`Dialog result: ${result.result}, user: ${result.userName}, pwd: ${result.password}`);
        });
      },
      onSearchSubmit:function(){
        console.log('search phrase submitted')
      },
      onTapCart:function(){
        //navigate to cart page
        this.$navigateTo(this.cartPage)
      },
      onTapOrders:function(){
        //navigate to cart page
        this.$navigateTo(this.cartPage)
      },
      showLogin:function(){
        login("Please login", "Email", "Password").then(result => {
          console.log(`Dialog result: ${result.result}, user: ${result.userName}, pwd: ${result.password}`);
        });
      },showCheckInternetAlert(){
        alert('Please check the internet connection on your device and try again')
              .then(() => {
                console.log("Alert dialog closed.");
              });
      }
    },
    mounted() {
      this.showCheckInternetAlert()
        //axios({ method: "GET", "url": "http://ws-backend.159-203-162-126.nip.io/items" }).then(result => {
          axios({ method: "GET", "url": `${values.apiHostUrl}/items` }).then(result => {
            this.items = result.data;
            console.log(result.data)
            if(!result.data){
              //display check internet alert
            }

        }, error => {
            console.error(error);
        });
    }
  }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
