<template>
    <StackLayout>
      <Image src="https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg" stretch="none" />
    </StackLayout>
</template>

<script >
  export default {
    data() {
      return {
      }
    }
  }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
