<template>
    <Page>
        <!-- <ActionBar title="Cart WorkSample"/> -->
        <TextField dock="top" height="40" hint="Search"/>
        <DockLayout stretchLastChild="false">
          <ListView dock="centre" for="item in items" @itemTap="onItemTap">
            <v-template>
              <Label :text="item"/>
              <Image src="https://cdn.vuetifyjs.com/images/cards/cooking.png" stretch="none" />
            </v-template>
          </ListView>
        </DockLayout>        
    </Page>
</template>

<script >
  export default {
    data() {
      return {
      }
    }
  }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
