<template>
    <StackLayout>
      <Label text="Categories"/>
      <StackLayout>
        <FlexboxLayout flexWrap="wrap" justifyContent="space-around" backgroundColor="#43b883">
          <StackLayout v-for="item in items" :key = "item" backgroundColor="#43b883">
            <Label :text="item"/>
            <Image src="https://cdn.vuetifyjs.com/images/cards/cooking.png" stretch="none"/>
          </StackLayout>
        </FlexboxLayout>
        <!-- <GridLayout v-for="subItems in transformedItem" :key="subItems" columns="*,*" rows="120" backgroundColor="#3c495e">
          <StackLayout v-for="item in subItems" v-bind:key="item" :row="Math.floor(item/2)" :col="item%2" backgroundColor="#43b883">
            <Label :text="item"/>
            <Image src="https://cdn.vuetifyjs.com/images/cards/cooking.png" stretch="none" />
          </StackLayout>
        </GridLayout> -->
      </StackLayout>
    </StackLayout>
</template>

<script >
  export default {
    data() {
      return {
        items:[0,1,2,3,4,5,6,7],
      }
    },computed:{
      transformedItem : function(){
        //trannsfrom items array into 2D array to create grid of items
        const tempArr = [...this.items]
        const newArr = [];
        while(tempArr.length) newArr.push(tempArr.splice(0,2))
        return newArr
      },method:{
        onItemTap:function(){},
      }
    }
  }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
