<template>
    <Page>
      <ActionBar title="WorkSample">
        <ActionItem @tap="onTapCart"
          ios.systemIcon="9" ios.position="left"
          android.systemIcon="ic_menu_share" android.position="actionBar" />
        <ActionItem @tap="onTapOrders"
          ios.systemIcon="16" ios.position="right"
          text="orders" android.position="popup" />
        <ActionItem @tap="onTapLogin"
          ios.systemIcon="16" ios.position="right"
          text="login" android.position="popup" />
      </ActionBar>
      <StackLayout>
        <!-- <Image src="https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg" stretch="none" /> -->
        <Image :src="item.img" stretch="aspectFill" height="250"/>
        <Label :text="item.caption" textWrap="true"/>
        <Label :text="item.description" textWrap="true"/>
        <Label >&#8358;{{formatedAmount}}</Label>
        <Button text="Add to cart" @tap="onTapAddToCart"></Button>
      </StackLayout>
    </Page>
</template>

<script >
  import AppItem from "./AppItem"
  import AppCart from "./AppCart"
  import values from "../values.json"

  import axios from "axios";
  import { mapGetters, mapActions } from 'vuex'

  export default {
    components:{ AppItem, AppCart },
    props:['item'],
    data() {
      return {
        detailPage: AppItem,
        cartPage: AppCart,
      }
    },methods:{
      onTapLogin:function(){

      },
      addToCart:function(){
        try{
          const data = {item_id:this.item.id, quantity:1}
          const apihosturl = values.apiHostUrl

          console.log(this.jwt)
          
          const config = {
            headers: {
              'Authorization': 'Bearer ' + this.jwt
            }
          }

        
          axios.post(`${apihosturl}/cart`, data, config).then(function (response) {
              console.log(response);
            }).catch(function (error) {
              console.log(error);
            });
          //console.log(response.statusCode)
          //this.dialog = true     
        }catch(ex){
          console.log(ex)
        }
      },
      onTapAddToCart:function(){
        if(this.jwt){
          this.addToCart()
        }else{
          this.loginAndAddToCart("Please login")
        }
      },
      loginAndAddToCart:function(prompt){
        if(!prompt){
          prompt = "Please login"
        }

        //show login dialog
        login(prompt, "Email", "Password").then(result => {
          console.log(`Dialog result: ${result.result}, username: ${result.userName}, pwd: ${result.password}`);

          //when ok button is pressed attempt to log user in
          if(result.result){
            const credentials = {
                email:result.userName,
                password:result.password,
                onSuccess:function(){addToCart()},
                onFailure:function(){loginAndAddToCart("Invalid credentials: try again")}
                //onFailure:function(){console.log("Invalid credentials: try again")}
              }
            console.log("attempt to login****************")
            this.$store.dispatch("login", credentials);
            }
        });
      },
      onTapCart:function(){
        //navigate to cart page
        this.$navigateTo(this.cartPage)
      },
      onTapOrders:function(){
        //navigate to cart page
        this.$navigateTo(this.cartPage)
      }
    },
    computed: {
      jwt:function(){
        return this.$store.getters.jwt
      },
      isLoggedIn:function(){
        return this.$store.getters.isLoggedIn
      },
      formatedAmount:function(){
        //console.log(this.item)
        return this.item.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }
    }
  }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
